@font-face {
  font-family: "Montserrat";
  src: url("common/fonts/montserrat/montserrat-v23-latin_cyrillic-700.woff"),
  url("common/fonts/montserrat/montserrat-v23-latin_cyrillic-700.woff2");
}
@font-face {
  font-family: "Montserrat-regular";
  src: url("common/fonts/montserrat/montserrat-v23-latin_cyrillic-regular.woff") ,
  url("common/fonts/montserrat/montserrat-v23-latin_cyrillic-regular.woff2") ;  
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("common/fonts/bebasNiun/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("common/fonts/gilroy/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Heavy";
  src: url("common/fonts/gilroy/Gilroy-Heavy.ttf");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("common/fonts/gilroy/Gilroy-Light.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("common/fonts/gilroy/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("common/fonts/gilroy/Gilroy-Regular.ttf");
}


