@use "scss/common/var";
@use "scss/common/mixin";

.root {
  height: 100vh;
  width: 100vw;
  background-image: url("https://res.cloudinary.com/ds289tkqj/image/upload/v1671096445/Posts/gvhfnljgcghbys2oidbs.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  position: relative;

  @include mixin.respond(mobile) {
    padding: 5px;
    padding-top: 0px;
    background-image: url("https://res.cloudinary.com/ds289tkqj/image/upload/v1671096445/Posts/gvhfnljgcghbys2oidbs.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
  }

  & .header {

  }
  
  & .outlet {
   
  }
  
  & .footer {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
  }

  & .modal {
    position: static;
   
  }
}
