@use "../../../scss/common/var";

%buttonsUpdate {
  width: 35px;
  height: 35px;
}

%commentsAndViews {
  display: flex;
  align-items: center;
  margin-left: var.$spasing-small;
  & img {
    border-radius: 0;
    width: 20px;
    height: 20px;
  }
  & span {
    margin-left: 5px;
  }
}

%card {
  font-family: var.$ff-Gilroy-Regular;
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: var.$border-radius-average;
  background: var.$liner-gradient-post-card;
  margin: var.$spasing-small;


     .imageUrl {
      max-height: 800px;
      width: 100%;
    }

    .imageUrlSingl {
      max-height: 1000px;
      // height: 100%;
      width: 100%;
    }
  

  .body {
    padding: var.$spasing-one-rem;
    .title {
      font-family: var.$ff-Gilroy-Medium;
      color: var.$color-header-bg-dark;
      font-size: var.$font-size-header-link;
      text-transform: capitalize;
      text-align: center;
    }
    .text {
      
      font-size: var.$font-size-button;
      color: var.$color-black-hover;
    }
    & span {
      display: block;
      margin-top: var.$spasing-small;
    }
  }

  .footer {
    padding: var.$spasing-one-rem;
    position: relative;

    .user {
      color: var.$color-secondary-hover;
      display: flex;
      align-items: center;
      gap: var.$spasing-one-rem;

      .imageUser {
        border-radius: var.$border-radius-circle;
        width: 50px;
        height: 50px;
      }
      & p {
        color: var.$color-header-bg-dark;
        font-size: var.$font-size-button;
      }

      .info {      
        & small {}
        
      }

      .views {
        @extend %commentsAndViews;
      }

      .commentsCount {
        @extend %commentsAndViews;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      .likes {
        
      }

      .buttonUpdate {
        .update {
          @extend %buttonsUpdate;
          margin-right: var.$spasing-big-medium;
        }
        .delete {
          @extend %buttonsUpdate;
          cursor: pointer;
        }
      }
    }

  }
}

.card {
  @extend %card;
}

.cardSinglPage {
  @extend %card;
  width: 70%;
  margin: 10px auto;
}


