.products-item { 
    height: 100%;
    width: 100%; 
    background-color: white;
border-radius: $border-radius-average;
box-shadow: $box-shadow;
overflow: hidden;
display: flex;
align-items:center;
justify-content: center;
text-align: center;
cursor: pointer;
padding: 20px 0;
    &__img {
        width: 100px;
    }
    
    &__text {    
        font-family: $CormRegular; 
     font-weight: bold;
     color: $color-gold-text;
        font-size: 25px;
    margin: 20px 10px;
        
    }
    
               
    }
   