.category {
  display: flex;
  justify-content: space-between;
}
 .prices {
  display: flex;
}

.imagesContainer {
display: flex;
align-items: center;
justify-content: space-between;
height: 80px;
margin-top: 10px;

  .imagesPreview {
    .image{
      border-radius: 10px;
      margin-left: 10px;
      width: 75px;
      height: 75px;

      transition: all .4s ease-in;
      &:hover{
        transition: all .4s ease-in;
        scale: 2;
        transform: translateY(-20px);
      }
    }
  }
}
