$light: #f9fafb;
$white: #fff;
$color-white: #fff;
$c80: #808080;
$ccb: #cbcccd;
$red-light: #e75555;
$header-color: #fbcd08;
$color-text-logo: #761719;
$color-dark-grey: #a1a1a1;
$color-error-light: #f25b6b;
$color-error-dark: #d65c5c;
$color-blue: #3199dc;
$color-blue-black: #02609f;
$color-green: green;
$color-green-black: rgb(5, 80, 5);
$color-green-light: rgb(79, 220, 79);
$color-red: #ff0000;
$color-red-black: #5c0e0e;
$color-red-light: #e15a5a;
$color-red-hover: #b00a0a;
$color-red-hover-light: #db0b0b;
$color-white-red: #ab5959;
$color-primary: #0d6efd;
$color-primary-opasiti: #0d6dfd78;
$color-primary-hover: #1257bf;
$color-orange: orange;
$color-orange-light: rgb(153, 101, 5);
$color-orange-black: rgb(241, 190, 95);
$color-header-bg-dark: #25252bfa;
$color-input-search: #464646;