@use "scss/common/var";
@use "scss/common/mixin";

.wrapper {
  overflow: visible;
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;
  background: linear-gradient(
    to top,
    var.$color-black-hover,
    var.$color-blue-black
  );
  

  @include mixin.respond(mobile) {
    min-height: 100vh;
    overflow: scroll;
  }

  .main {
    flex: 1 1 auto;
  }

  .container {
    padding: 20px 0;
    position: relative;
    width: 60%;
    margin: 0 auto;
    @media (max-width: 1200px) {
      width: 90%;
    }
  }
}
