@use "../../scss/common/var";

%tegsAndComments {
  background-color: var.$color-card-bg;
  border-radius: var.$border-radius-average;
  margin-top: var.$spasing-small;
}

.root {
  .sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    display: flex;

    .userContainer {
      // width: 30%;
      
      .userInfo {
        position: sticky;
        top: 20px;
      }
      
    }
   
    
    .blogs {
      width: 100%;
      
    }
    .blockForSticky{
      width: 30%;

      .info {
        position: sticky;
        top: 20px;
        
        
        .tegs {
          
          @extend %tegsAndComments;
        }
        .comments {
          @extend %tegsAndComments;
        }
      }
    }

  }
}