@use '../../../scss/common/var';
@use '../../../scss/common/exented';

.links{
  font-size: var.$font-size-button;
  font-weight: bold;
  margin-right: 10px;

  }
  
  .item {
    @extend %buttons;
    
    &:hover {
      transform: translateX(-10px);
      background-color: var.$color-blue;
    }
    
  }

.active {
  @extend %buttons;

  background-color: var.$color-blue;
}