@use '../../../scss/common/var';

.links{
  font-size: var.$font-size-button;
  font-weight: bold;
  margin-right: 10px;

  }
  
  .item {
    margin-bottom: 10px;
    border-radius: var.$border-radius-button;
    box-shadow: var.$box-shadow;
    border: 1px solid rgba(255, 255, 255, 0.112);
    color: var.$color-card-bg;
    padding: 10px;
    cursor: pointer;
    transition: all .6s ease;
    &:hover {
      transform: translateX(-10px);
      background-color: var.$color-blue;
    }
    
  }

.active {
  margin-bottom: 10px;
  border-radius: var.$border-radius-button;
  box-shadow: var.$box-shadow;
  border: 1px solid rgba(255, 255, 255, 0.112);
  color: var.$color-card-bg;
  padding: 10px;
  cursor: pointer;
  transition: all .6s ease;
  transform: translateX(-10px);
  background-color: var.$color-blue;
}