.singlpage-container {
  width: 50%;
  margin: auto;
  @media (max-width: 850px) {
    width: 90%;
  }
  .post-card {
      margin-bottom: $spasing-medium;
    text-align: center;
    padding: $spasing-medium;
    &:hover {
      box-shadow: $box-shadow;
      background-color: $white;
      border-radius: $border-radius-average;
    }
    &__img {
      text-align: center;
      &-item {
          width: 50%;
          height: 400px;
        border-radius: $border-radius-average;
        box-shadow: $box-shadow;
        overflow: hidden;
        @media (max-width: 1150px) {
          width: 90%;
        }
      }
    }
&__info-auth{
display: flex;
position: relative;
align-items: center;
padding-top: $spasing-medium;
}
    &__icons {
       width: 50px;
       height: 50px;
       cursor: pointer;
        &-item{
            border-radius: 50%;
            width: 50px;
       height: 50px;
       overflow: hidden;
        }
    }
    
    &__date {
      margin-left: 20px;
      color: $color-dark-grey;
    }
    &__user-name {
        font-size: $font-size-average;
        margin-left: 20px;
        cursor: pointer;
        &:hover{
            border-bottom: 1px solid rgba(0, 0, 0, 0.466);

        }
    }
    &__title {
        font-size: $font-size-title-normal;
        font-family: $Montserat;
     font-weight: bold;
    }
    &__text {
        margin-top: 10px;
        background: linear-gradient(45deg, #EECFBA, #C5DDE8);
        padding: 20px;
        display: flex;
        align-items:flex-start;
        border-radius: 10px;
        &-item{
            font-family: $CormSemiBold;
            font-size: 1.3rem;
        }
    }
    &__buttons {
        display: flex;
        position: relative;
        justify-content: space-between;
        margin-top: 20px;
        padding: $spasing-medium;
        &-delete{
         @extend %btn-goback-red;
        }    
    }
}

}
