@use '../../scss/common/exented';

.catalog {
    .info{  
        width: 150px;
    }
    .search {
        display: flex;
        align-items: center;
        justify-content: space-around;  
        margin-bottom: 20px;  
    }
    
    .container {
        display: flex;
        &-info{
            display: flex;
            flex-direction: column;
        }
    }       
    .items {
        @extend %gridMainPost;
        width: 100%;
        
    }
}

.input {  
    display: flex;
    justify-content: space-around;
    & img {
        
    }

}

.cart {
display: flex;
width: 100px;
.totalPrice {

}

.cartPng {
    // position: absolute;
    // top: 0;
    // left: -30px;
    width: 40px;
    height: 40px;
    opacity: 0.9;
}
}