.product-catalog {
    &__container-info{
        width: 150px;
    }
    &__input-search {
        display: flex;
        align-items: center;
        justify-content: space-around;    
    }
    
    &__container {
        display: flex;
        &-info{
            display: flex;
            flex-direction: column;
        }
    }       
    &__items {
        @extend %gridMainPost;
        width: 100%;
        
    }
}

.input-sector {
    display: flex;
    justify-content: space-around;
    & img {
        
    }

}
