@use 'scss/common/var';

.root {
  text-align: center;
  border: 1px solid var.$color-white;
  background-color: rgba(220, 220, 220, 0.472);
  padding: 3px;
  opacity: 0;
  animation: activeModal 0.3s ease;
  animation-delay: 0.4s ;
  animation-fill-mode: forwards;
  & .container {
    background-color: white;
    border: 1px solid rgba(44, 44, 44, 0.557);
    padding: 10px 10px;
    & span {
    font-family: var.$ff-Gilroy-Medium;
    color: var.$color-black-hover;
  }
}

@keyframes activeModal {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}
}



