@use 'scss/common/var';

.root {
  & .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

   & .hits {
    position: absolute;
    top: 35px;
    right: 50px;
    width: 300px;
   }

   
   & img {
      width: 12px;
      height: 12px;
      margin-right: 3px;
    }
    
    .progress {
      width: 90px;
 
    }
    
    
    
  }
}