@use '../../scss/common/var';

.root {
  font-family: var.$ff-Gilroy-Medium;
  .buttonImage {
    display: block;
  }

  .previewImage {
    width: 100%;
    height: 500px;
    border-radius: var.$border-radius-small;
  }
}