@use "scss/common/var";
@use "scss/common/exented";
@use "scss/common/mixin";

%card-info {
  width: 49%;
  position: relative;
  background-image: linear-gradient(to right, #3a3d3f, #242525);
  padding: 20px;
  padding-top: 10px;
  border-radius: var.$border-radius-small;
  box-shadow: var.$box-shadow;
  height: 550px;
 
}

.root {
  margin: 20px 0;
  
  .container {
    display: flex;
    justify-content: space-between;
    .progectInfo {
      @extend %card-info;
      color: var.$color-card-bg;
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      
      
      
      .titles {
        font-size: var.$font-size-header-link;
        text-align: center;
        display: flex;
        text-align: center;
        margin-bottom: var.$spasing-small;
        justify-content: space-around;
        background-image: var.$linear-gradient-grey;
        box-shadow: var.$box-shadow;
        border-radius: var.$border-radius-small;
        padding: 10px 0;
        position: sticky;
        top: 0;
        left: 0;
        cursor: pointer;
       
        
        
        
        h2 {
          margin-right: 10px;
        }
      }
        .text {
          font-size: var.$font-size-card-text;
        }
        .title {
          color: rgb(49, 49, 49);
        }

        .active {
          color: rgb(255, 255, 255);
        }
        
        .img {
          height: 25px;
          width: 25px;
          margin-right: 10px;
        }
        
        .item {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
        }
        
        p {
        }
    
    }

    .userInfo {
      @extend %card-info;
      .header {
        position: relative;
        display: flex;
        justify-content: space-between;
        .name {
          color: rgb(221, 206, 206);
          font-size: var.$font-size-header-link;
          cursor: pointer;
          text-align: center;
          margin: 0 auto;
          margin-top: 60px;
        
        }
        .image {
          position: relative;
          top: -40px;
          .userImg {
            width: 200px;
            height: 200px;
            border-radius: var.$border-radius-circle;
          }
        }
      }

      .body {
        overflow: auto;
        padding-bottom: var.$spasing-medium;
        color: var.$color-card-bg;
        .text {
          margin-right: 10px;
          line-height: 30px;
          font-family: var.$ff-Gilroy-Regular;
          font-size: var.$font-size-button;
        }
      }
      .footer {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 20px;
        left: 20px;
        .icon {
          width: 40px;
          height: 40px;
        }
        a {
          color: white;
        }
      }
    }

    @include mixin.respond(mobile) {
      flex-direction: column;
      .progectInfo {
        width: 100%;
      }
      .userInfo {
        width: 100%;
      }
    }
  }
}
