@use "scss/common/var";
@use "scss/common/mixin";

@include mixin.respond(mobile) {

}

%tegsAndComments {
  background-color: var.$color-card-bg;
  border-radius: var.$border-radius-average;
  margin-top: var.$spasing-small;
}

.root {
  .sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mixin.respond(mobile) {
     display: none;
    }

    .btnSearch {
      display: flex;
      width: 200px;
      margin: 10px;
      .btnsearchUser{
        margin-right: 10px;
      }
    }

    .searchInput{ 
      position: relative;
      top: -10px;
      left: 0;

      .blockSearchItem {
        position: absolute;
        top: 50px;
        left: -29px;
        width: 236px;
      }

      

    }




  }
  
  .container {
    display: flex;
    @include mixin.respond(mobile) {
      display: block;
     }
    .userContainer {
      width: 40%;
      @include mixin.respond(mobile) {
        margin: 0 auto;
        width: 90%;
       }

      .sticky{
        position: sticky;
        top: 20px;

        
      //   .userInfo {
      // }
      // .userRequestFriend{
        
      // }
    }
      
    }
    
    .blogs {
      width: 100%;
      
    }

    .blockForSticky{
      width: 30%;
      color: var.$color-input-search;

      .info {
        position: sticky;
        top: 20px;
        .tegs {
          @extend %tegsAndComments;
          @include mixin.respond(mobile) {
            display: none;
           }
        }
        .comments {
          @extend %tegsAndComments;
          @include mixin.respond(mobile) {
            display: none;
           }
        }
      }
    }


  }
}