
.post-main {
  padding: 20px 0;
  position: relative;
  width: 60%;
  margin: 0 auto;
  @media (max-width: 1200px) {
    width: 90%;
  }
  &__forms {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
  }
  
  &__items{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    
      @media (min-width: 200px) {
        grid-template-columns: repeat(1, 1fr);
  }
      @media (min-width: 650px) {
        grid-template-columns: repeat(2, 1fr);
  }
      @media (min-width: 750px) {
        grid-template-columns: repeat(3, 1fr);
  }
  
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
  &-element{
    background-color: white;
border-radius: $border-radius-average;
box-shadow: $box-shadow;
overflow: hidden;

  }
}
}