@use "scss/common/var";

%tegsAndComments {
  background-color: var.$color-card-bg;
  border-radius: var.$border-radius-average;
  margin-top: var.$spasing-small;
}

.root {
  .sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container {
    display: flex;
    
    .userContainer {
      width: 40%;
      .sticky{
        position: sticky;
        top: 20px;

        
        .userInfo {
      }
      .userRequestFriend{

      }
    }
      
    }
    
    .blogs {
      width: 100%;
      
    }

    .blockForSticky{
      width: 30%;
      color: var.$color-input-search;

      .info {
        position: sticky;
        top: 20px;
        .tegs {
          
          @extend %tegsAndComments;
        }
        .comments {
          
          @extend %tegsAndComments;
        }
      }
    }


  }
}