@use '../../scss/common/exented';

.products {
    text-align: center;

    .swiper {
        margin: 0 auto;
        width: 70%;
        height: 421px;
        @media (max-width: 1200px) {
            width: 100%;
        }
    }

    .container {

    }
         .category {
            margin-top: 30px;
            .items {
                @extend %gridMainPost;
               
                
                }
            }

        }

    

