@use '../../../scss/common/var';

.root {
  font-family: var.$ff-Gilroy-Bold;

  .text {
    text-align: center;
    font-size: var.$font-size-average;
    color: var.$color-black-hover;
    margin-bottom: 30px;
  }
  .footer {
    display: flex;
    justify-content: space-around;
  }

}