@use 'scss/common/var';

.progressRoot {
  .progressContainer {
    width: 100%;
    background-color: rgb(238, 238, 238);
    border: 1px solid #4a494948;
    height: 15px;
    box-shadow: 0px 4px 1px -2px rgba(0, 0, 0, 0.332) inset;
    border-radius: 3px;
  }
  
  .countTime {
    font-weight: 600;
    
      position: absolute;
      top: 16px;
      left: 80px;
      & span {
       padding: 0.1rem;
        color: var.$color-black-hover;
        font-size: 1.1rem;
        z-index: 1;
      }
    
  }
  
  .progressCompleted {
    border-radius: 3px;
    background-image: linear-gradient(
      to bottom,
      rgb(99, 215, 99),
      rgb(39, 140, 39)
      );
      border: 1px solid #506d00;
      height: 100%;
      transition: all 0.5s ease;
    }
  }