@use 'scss/common/var';
@use 'scss/common/exented';


@mixin button-main($bgColor, $hoverBgColor) {
    background-color: $bgColor;
    @extend %buttonMain;
    &:hover {
        transition: all 0.2s ease-in;
        background-color: $hoverBgColor;
    }
    }