@use '../../../scss/common/var';

.container {

  .form {
    .header {
      display: flex;
      align-items:center;
      justify-content: center;
      .title {
        font-size: var.$font-size-average;
        color: var.$color-black;
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    .footer {
      position: relative;
      &__buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .cancel {
          margin-right: 10px;
        }
        .ready {
          padding-right: 10px;
        }
      }
      &__date{
        position: absolute;
        left: 0;
        bottom: 0;

      }
    }
  }
}
