@use "scss/common/var";

.root {
  width: 125px;
  padding-right: 10px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;

  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: space-between;


  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon {
      width: 25px;
      height: 25px;
    }

    .values {
      .countValue {
        color: #252525;
        font-weight: 600;
      }
      .totalValue {
        color: #6d6d6d;
      }
    }
  }

  .incomConta {
    position: relative;
    top: 10px;
    left: 0;
    background-image: linear-gradient(to bottom, rgb(249, 248, 248),rgb(148, 144, 144));
    height: 21px;
    width: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top: 0.2px solid #2525253e;
    box-shadow: var.$box-shadow;

    span {
color: #252525;
font-weight: 600;
    }
  }

 & .hitsModal {
   position: relative;
   top: 10px;
   left: -45px;
  }


}
.beforLine {
  border-right: 2px solid #12121229;
}
