@use '../../../../scss/common/var';

.container {

  .card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    &:hover {
      .footer {
        
        background-color: #43434395;
        
      }
    }
    .header {
      & img {
        width: 100%;
        height: 180px;
      }
    }

    .footer {
      position: absolute;
      bottom: 0px;
      left: 0;
      display: flex;
      padding: var.$spasing-small;
      font-size: var.$spasing-medium;
      justify-content: space-around;
      align-items: center;
      margin-top: auto;
      width: 100%;
      border-top-left-radius: var.$spasing-large;
      overflow: hidden;
      
      .info {
        padding-left: var.$spasing-small;

        .img {

          & img {
            border-radius: var.$border-radius-circle;
          }
        }
        
        color: rgb(213, 204, 204);

        .date {
          color: rgb(102, 97, 97);
        }
      }
      .title {
        padding-left: 20px;
        font-size: var.$font-size-button;
        color: rgb(213, 204, 204);
        font-weight: bold;
        &:hover {
          color: rgb(236, 224, 223);
        }
      }
    }
  }
}
