@use '../../../scss/common/var';

.root {
  display: flex;
 
  .ul {
    width: 100%;
    .item {
      background-color: rgb(200, 194, 194,0.3);
      background-image: var.$liner-gradient-basket-goods;   
      border-radius: var.$border-radius-average;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: var.$spasing-medium;
      box-shadow: var.$box-shadow;
      padding: var.$spasing-small;
      @media (max-width: 750px) {
      }
      .img {   
        padding-left: var.$spasing-small; 
        @media (max-width: 750px) {
          display: none;
        } 
       img {
          border-radius: var.$border-radius-average;
          overflow: hidden;  
          width: 75px;
          height: 100px;
        }       
      }
      .mediaPrice {
        color: rgb(62, 61, 62);
        font-weight: bold;
        font-size: 20px;
        position: relative;
      }
      .title {
        width: 50%;
        
        p {
          display: block;
          word-break: break-word;
          color: var.$color-card-bg;
          font-size: var.$font-size-average;
          font-family: var.$ff-cormorantgaramond-regular;
          
        }
        @media (max-width: 750px) {
         width: auto;
        }
        .mobileRemove{
          position: relative;
          top: 0;
          left: 100px;
          width: 20px;
          height: 20px;
        }
      }
      
      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        .increment {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        .count {
          font-size: var.$font-size-title-normal;
          font-weight: bold;
          color: var.$color-black;
          margin: 0 var.$spasing-small;
        }       
        .decrement {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        @media (max-width: 750px) {
          .increment {
            width: 20px;
            height: 20px;
          }
          .count {
            font-size: var.$font-size-button;
            font-weight: bold;
            color: var.$color-black;
            margin: 0 var.$spasing-small;
          } 
          .decrement {
            width: 20px;
            height: 20px;
          }            
          }
      }
      
      
      .tailPrice {
        width: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .price {
          color: var.$color-black;
          font-size: var.$font-size-title-normal;
          margin-bottom: var.$spasing-button;
          font-weight: bold;
          cursor: pointer;
        }
        .oldPrice {
          color: var.$ccb;
          text-decoration: line-through;
          font-size: var.$font-size-average;
          cursor: pointer;
          margin-bottom: 10px;
          @media (max-width: 750px) {
            display: none;
          }
        }
        
        @media (max-width: 750px) {
          display: none;
        }
        }

        .delete {
          width: 34px;
          height: 34px;
          opacity: 0.6;
          transform: translateX(100px);
          transition: all .4s ease-in-out;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }

        }
        
        &:hover {
        .delete {
          transform: translateX(0px);
        }
      }
        
    
    
  }
  }
  
}

